<section class="menu">
  <input type="file" #file>
  <button md-raised-button (click)="sendFile()">Send File</button>
  <button md-raised-button (click)="box()">Box</button>
  <button md-raised-button (click)="guassianBlur()">Gaussian Blur</button>
  <button md-raised-button (click)="sharpen()">Sharpen</button>
  <button md-raised-button (click)="laplacian()">Laplacian</button>
  <button md-raised-button (click)="emboss()">Emboss </button>
  <button md-raised-button (click)="sobelHorizontal()">Sobel Horizontal</button>
  <button md-raised-button (click)="sobelVertical()">Sobel Vertical</button>
  <button md-raised-button (click)="motionBlur()">Motion Blur</button>
  <button md-raised-button (click)="findHorizontalEdges()">Find Horizontal Edges</button>
  <button md-raised-button (click)="findVerticalEdges()">Find Vertical Edges</button>
  <button md-raised-button (click)="highPass()">High Pass</button>
  <button md-raised-button (click)="defineCustomFilter()">Define Custom Filter</button>
</section>
