nav {
    background-color: #eee;
    display: flex;
}

input[type="file"] {
    display: none;
}

.divider-horizontal {
    display: block;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.divider-vertical {
    display: block;
    border-left: 1px solid rgba(0, 0, 0, .12);
}

md-slider {
  margin: 0 1em;
}
