<nav>
  <input type="file" #fileInput (change)="sendFile($event)">
  <button md-button [mdMenuTriggerFor]="fileMenu">File</button>
  <md-menu #fileMenu>
    <button md-menu-item (click)="selectFile()">Upload image</button>
    <button md-menu-item (click)="restoreOriginal()" [disabled]="!fileLoaded">Restore original image</button>
  </md-menu>

  <button md-button [mdMenuTriggerFor]="filterMenu" [disabled]="!fileLoaded">Filter</button>
  <md-menu #filterMenu>
    <button md-menu-item (click)="box()">Box</button>
    <button md-menu-item (click)="guassianBlur()">Gaussian Blur</button>
    <button md-menu-item (click)="motionBlur()">Motion Blur</button>
    <div class="divider-horizontal"></div>
    <button md-menu-item (click)="sharpen()">Sharpen</button>
    <button md-menu-item (click)="laplacian()">Laplacian</button>
    <button md-menu-item (click)="emboss()">Emboss </button>
    <button md-menu-item (click)="highPass()">High Pass</button>
  </md-menu>

  <button md-button [mdMenuTriggerFor]="sobel" [disabled]="!fileLoaded">Sobel filters</button>
  <md-menu #sobel>
    <button md-menu-item (click)="sobelHorizontal()">Sobel Horizontal</button>
    <button md-menu-item (click)="sobelVertical()">Sobel Vertical</button>
  </md-menu>

  <button md-button [mdMenuTriggerFor]="edges" [disabled]="!fileLoaded">Find Edges</button>
  <md-menu #edges>
    <button md-menu-item (click)="findHorizontalEdges()">Find Horizontal Edges</button>
    <button md-menu-item (click)="findVerticalEdges()">Find Vertical Edges</button>
  </md-menu>

  <button md-button [mdMenuTriggerFor]="custom" [disabled]="!fileLoaded">Custom filter</button>
  <md-menu #custom>
    <button md-menu-item (click)="defineCustomFilter()">Define Custom Filter</button>
    <button md-menu-item [disabled]="!customMatrixSize" (click)="customFilter()">Custom filter</button>
    <button md-menu-item [disabled]="!selectionSaved" (click)="resetSelection()">Reset Selection</button>
  </md-menu>
  <div class="divider-vertical"></div>
  <md-slider [max]="100" [min]="0" [step]="1" [thumb-label]="true" [tick-interval]="tickInterval" [(ngModel)]="percent" [disabled]="!fileLoaded"></md-slider>
  <button md-button (click)="blend()" [disabled]="!fileLoaded">Blend with original ({{percent}}%)</button>
  <div class="divider-vertical"></div>
  <button md-button (click)="showAboutDialog()">About</button>
</nav>
