<md-toolbar color="primary">
  <span>  Projekt z grafiki komputerowej</span>
</md-toolbar>
<app-menu [filterSelection]="filterSelection" [fileLoaded]="fileLoaded" [selectionSaved]="selectionSaved" (selectionReset)="resetSelection()"
  (loading)="imageLoading()"></app-menu>
<div class="container" (mouseup)="endSelection($event)" (click)="reset($event)">

  <section class="interface">
    <md-spinner *ngIf="loading && !filePath" class="loading"></md-spinner>
    <figure *ngIf="filePath" mdTooltip="Click and drag on the image to select part of it to filter">
      <img [src]="filePath" alt="photo" #image draggable="false" draggable="false" (mousedown)="beginSelection($event)" (mousemove)="selection($event)">
      <md-spinner *ngIf="loading" class="loading"></md-spinner>
      <div class="selection" (mousedown)="beginSelection($event)" (mousemove)="selection($event)" *ngIf="selected" [style.top.px]="selectionTop"
        [style.left.px]="selectionLeft" [style.width.px]="selectionWidth" [style.height.px]="selectionHeight"></div>
    </figure>
  </section>
</div>
