.container {
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

figure {
    margin: 2em;
    width: 50%;
    img {
        max-width: 100%;
    }
}

.interface {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
