.container {
    height: calc(100vh - 64px - 48px);
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 1em;
    width: 100%;
    img {
        max-width: 100%;
        user-select: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}

.interface {
    display: flex;
    justify-content: center;
    width: 100%;
}

.selection {
    position: absolute;
    border: 1px dashed #000;
    outline: 1px dashed #fff;
}

.selection-saved {
    margin-top: 2em;
}

.image-container {
    position: relative;
    display: inline-block;
}

.loading {
    position: absolute;
}
